# 8.2.6 Tabular Data: Demonstration of Advanced Data Frame Functionalities

######

### Instructions: Load two years of stock data for every ticker in the current S&P 500. Perform the following.

In [1]:
# Attempt #4: Hit a Snag in 8_2_7 in having to scrape for cross-section data. Decided to use pre-built tables in Wikipedia instead for time.

# Initialization: Load CSV and Import necessary Packages.
# Packages
import pandas as pd
import yfinance as yf

# Load two years stock data for every ticker in the current S&P 500
# dir(yf)
# Andy Zhang Quantnet Comment (Use read_html):
# REPLACE https://topforeignstocks.com/indices/components-of-the-sp-500-index/. Only has company Name
tableStocks = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')
# len(tableStocks) (2 data frames)
# type(tableStocks) (List)

# Extract the PD:
table1 = tableStocks[0] # Get Table 1
tickList = table1['Symbol'] # Get Tickers from Table 1

# Alphabetical (Higher chances of having companies with data on top.)
tickList = sorted(tickList)
tickList

# Load Tickers (Third Attempt Code. Same as Before)
tickers = list(tickList) # Create Ticker List
tickers = yf.Tickers(tickers) # yf.Tickers

# Pull Data (Same with Third Attempt Code. Don't do CSV anymore as file is too large to upload to Quantnet.)
hist = tickers.history(group_by='ticker', period='2y') # Better.

hist

[*********************100%***********************]  505 of 505 completed

2 Failed downloads:
- BF.B: No data found for this date range, symbol may be delisted
- BRK.B: No data found, symbol may be delisted

                 MNST                                                         \
                 Open       High        Low      Close      Volume Dividends
Date
2019-08-06        NaN        NaN        NaN        NaN         NaN       NaN
2019-08-07  59.590000  60.630001  58.970001  60.389999   5492100.0       0.0
2019-08-08  54.900002  62.369999  53.810001  62.180000  12247300.0       0.0
2019-08-09  61.730000  61.799999  59.110001  59.230000   5254400.0       0.0
2019-08-12  59.020000  59.049999  56.320000  56.480000   5282000.0       0.0
...               ...        ...        ...        ...         ...       ...
2021-08-02  94.480003  94.629997  92.620003  93.360001   2040200.0       0.0
2021-08-03  93.669998  93.959999  92.239998  93.040001   1963800.0       0.0
2021-08-04  92.839996  93.430000  91.900002  92.010002   1531700.0       0.0
2021-08-05  92.570000  92.650002  91.820000  91.949997   2006300.0       0.0
2021-08-06  94.000000  98.500000  94.000000  96.970001   4897067.0       0.0

                                LEN                          ...         ENPH  \
           Stock Splits        Open        High         Low  ...       Volume
Date                                                         ...
2019-08-06          NaN         NaN         NaN         NaN  ...          NaN
2019-08-07          0.0   46.719234   49.065996   46.552307  ...    5962200.0
2019-08-08          0.0   48.957987   50.008629   48.957987  ...    4373000.0
2019-08-09          0.0   49.743509   49.880976   48.849972  ...    4300000.0
2019-08-12          0.0   48.899067   49.183822   48.015351  ...    5011400.0
...                 ...         ...         ...         ...  ...          ...
2021-08-02          0.0  106.290001  107.230003  104.919998  ...    2230600.0
2021-08-03          0.0  106.110001  107.349998  104.760002  ...    4428400.0
2021-08-04          0.0  106.449997  107.959999  105.419998  ...  202710000.0
2021-08-05          0.0  105.760002  106.790001  105.029999  ...  213230000.0
2021-08-06          0.0  105.430000  106.419998  103.660004  ...    1844883.0

                                         MAS                                   \
           Dividends Stock Splits       Open       High        Low      Close
Date
2019-08-06       NaN          NaN        NaN        NaN        NaN        NaN
2019-08-07       0.0          0.0  38.039602  38.441050  37.677321  38.333347
2019-08-08       0.0          0.0  38.568337  39.126446  38.558547  38.999161
2019-08-09       0.0          0.0  38.695627  38.744583  38.137517  38.343136
2019-08-12       0.0          0.0  38.098350  38.333345  37.931898  38.039600
...              ...          ...        ...        ...        ...        ...
2021-08-02       0.0          0.0        NaN        NaN        NaN        NaN
2021-08-03       0.0          0.0  59.439999  60.700001  59.259998  60.330002
2021-08-04       0.0          0.0  60.009998  60.439999  59.639999  59.950001
2021-08-05       0.0          0.0  60.320000  60.689999  60.139999  60.490002
2021-08-06       0.0          0.0  60.740002  61.174999  60.318100  60.430000


                 Volume Dividends Stock Splits
Date
2019-08-06          NaN       NaN          NaN
2019-08-07    3608000.0       0.0          0.0
2019-08-08    2696200.0       0.0          0.0
2019-08-09    1893900.0       0.0          0.0
2019-08-12    1439100.0       0.0          0.0
...                 ...       ...          ...
2021-08-02          NaN       NaN          NaN
2021-08-03    2391700.0       0.0          0.0
2021-08-04  149320000.0       0.0          0.0
2021-08-05  132460000.0       0.0          0.0
2021-08-06    1642677.0       0.0          0.0

[506 rows x 3533 columns]

In [2]:
##############
# First Code #
##############

# Initialization: Load CSV and Import necessary Packages.
# Packages
# import pandas as pd
# import yfinance as yf


# Load two years stock data for every ticker in the current S&P 500
# dir(yf)
# Andy Zhang Quantnet Comment (Use read_html):
# tableStocks = pd.read_html('https://topforeignstocks.com/indices/components-of-the-sp-500-index/') # As of Jan 1 2021.
# len(tableStocks) (1 data frame)
# type(tableStocks) (List)

# Extract the PD:
# tableStocks = tableStocks[0] # Turn to df
# tickList = tableStocks['Ticker'] # Get Ticker Only

# Load Tickers (Third Attempt)
# tickers = list(tickList) # Create Ticker List
# tickers = yf.Tickers(tickers) # yf.Tickers

# Pull Data (Third Attempt. Don't do CSV anymore as file is too large to upload to Quantnet.)
# hist = tickers.history(group_by='ticker', period='2y') # Better.

############################## UNNECESSARY CODE DURING THE TRIAL AND ERROR PHASE: ##############################
# List with commas (Unnecessary steps for .download, only for .history):
# tickersListFinal = yf.tickers(tickers) # WRONG. Capital T!

# Create df
# First Attempt:
# hist = tickersListFinal.history(group_by="ticker") # 505 Tickers, takes roughly 1-2 minutes.
# Result:
# [*********************100%***********************]  505 of 505 completed
# 5 Failed downloads:
# - FLIR: No data found, symbol may be delisted
# - BF.B: No data found for this date range, symbol may be delisted
# - CXO: No data found, symbol may be delisted
# - VAR: No data found, symbol may be delisted
# - BRK.B: No data found, symbol may be delisted

# Second Attempt (Issue: Getting NA's on the same row as indices. Realized I can set period=2y in tickers.history to copy exactly in lecture)
# hist = yf.download(tickers, start="2019-06-30", end="2021-6-30")  # Use this cause cleaner (already factors in splits/divs via adj. close)... Takes 1-2 minutes (20+ mb file).
# hist = yf.download(tickers, start="2019-06-30", end="2021-6-30", group_by='Ticker')  # Use this cause cleaner (already factors in splits/divs via adj. close)... Takes 1-2 minutes.
# hist.to_csv('hist.csv', sep=',') # Wrong. Loads only a part of the data onto CSV.

# Results:
# [*********************100%***********************]  505 of 505 completed

# 5 Failed downloads:
# - BF.B: No data found for this date range, symbol may be delisted
# - FLIR: No data found, symbol may be delisted
# - VAR: No data found, symbol may be delisted
# - BRK.B: No data found, symbol may be delisted
# - CXO: No data found, symbol may be delisted

################################################################################################################

In [3]:
# First Look at the data (First few lines):
hist.head() # No neeed for print

                 MNST                                                         \
                 Open       High        Low      Close      Volume Dividends
Date
2019-08-06        NaN        NaN        NaN        NaN         NaN       NaN
2019-08-07  59.590000  60.630001  58.970001  60.389999   5492100.0       0.0
2019-08-08  54.900002  62.369999  53.810001  62.180000  12247300.0       0.0
2019-08-09  61.730000  61.799999  59.110001  59.230000   5254400.0       0.0
2019-08-12  59.020000  59.049999  56.320000  56.480000   5282000.0       0.0

                               LEN                        ...       ENPH  \
           Stock Splits       Open       High        Low  ...     Volume
Date                                                      ...
2019-08-06          NaN        NaN        NaN        NaN  ...        NaN
2019-08-07          0.0  46.719234  49.065996  46.552307  ...  5962200.0
2019-08-08          0.0  48.957987  50.008629  48.957987  ...  4373000.0
2019-08-09          0.0  49.743509  49.880976  48.849972  ...  4300000.0
2019-08-12          0.0  48.899067  49.183822  48.015351  ...  5011400.0

                                         MAS                                   \
           Dividends Stock Splits       Open       High        Low      Close
Date
2019-08-06       NaN          NaN        NaN        NaN        NaN        NaN
2019-08-07       0.0          0.0  38.039602  38.441050  37.677321  38.333347
2019-08-08       0.0          0.0  38.568337  39.126446  38.558547  38.999161
2019-08-09       0.0          0.0  38.695627  38.744583  38.137517  38.343136
2019-08-12       0.0          0.0  38.098350  38.333345  37.931898  38.039600


               Volume Dividends Stock Splits
Date
2019-08-06        NaN       NaN          NaN
2019-08-07  3608000.0       0.0          0.0
2019-08-08  2696200.0       0.0          0.0
2019-08-09  1893900.0       0.0          0.0
2019-08-12  1439100.0       0.0          0.0

[5 rows x 3533 columns]

In [4]:
# First Look at the data (Summary Stats):
print(hist.describe())

             MNST                                                              \
             Open        High         Low       Close        Volume Dividends
count  505.000000  505.000000  505.000000  505.000000  5.050000e+02     505.0
mean    75.802951   76.621604   74.966653   75.823485  2.517797e+06       0.0
std     13.943643   13.946215   13.914564   13.910436  1.354628e+06       0.0
min     52.110001   53.340000   50.060001   50.970001  4.614000e+05       0.0
25%     62.099998   62.799999   61.220001   62.189999  1.660200e+06       0.0
50%     77.480003   78.500000   76.919998   77.820000  2.149000e+06       0.0
75%     89.519997   90.199997   88.699997   89.470001  2.852800e+06       0.0
max     98.339996   99.239998   97.589996   98.680000  1.224730e+07       0.0

                           LEN                          ...          ENPH  \
      Stock Splits        Open        High         Low  ...        Volume
count        505.0  505.000000  505.000000  505.000000  ...  5.050000e+02
mean           0.0   71.709876   72.899431   70.469481  ...  5.534975e+06
std            0.0   18.516505   18.673465   18.394942  ...  1.343359e+07
min            0.0   29.522832   31.875601   25.024019  ...  1.062300e+06
25%            0.0   58.029498   58.669068   57.154635  ...  2.777000e+06
50%            0.0   71.221217   72.923795   70.360622  ...  3.807300e+06
75%            0.0   84.264192   85.457973   82.478113  ...  5.513300e+06
max            0.0  107.478869  110.331673  106.860426  ...  2.132300e+08

                                     MAS                                      \
      Dividends Stock Splits        Open        High         Low       Close
count     505.0        505.0  504.000000  504.000000  504.000000  504.000000
mean        0.0          0.0   50.646266   51.243308   50.058040   50.652466
std         0.0          0.0    8.096535    8.048854    8.063342    8.043980
min         0.0          0.0   28.282237   29.631830   26.637124   27.119823
25%         0.0          0.0   44.599147   45.110079   44.256133   44.753397
50%         0.0          0.0   53.137098   53.931175   52.445792   53.243689
75%         0.0          0.0   57.302668   57.893122   56.559790   57.186385
max         0.0          0.0   66.742519   68.276601   66.413785   66.852097


             Volume   Dividends Stock Splits
count  5.040000e+02  504.000000        504.0
mean   3.089912e+06    0.002093          0.0
std    8.802746e+06    0.018118          0.0
min    4.753000e+05    0.000000          0.0
25%    1.708775e+06    0.000000          0.0
50%    2.244500e+06    0.000000          0.0
75%    3.088200e+06    0.000000          0.0
max    1.493200e+08    0.235000          0.0

[8 rows x 3533 columns]

### a. ‘Stack’ the table to get it into row form, and demonstrate ‘unstack’ to get it back into the original form.

In [5]:
# Demonstrate STACK (do not change hist)
hist1 = hist.stack(level=0).reset_index().rename(columns = {'level_1':'Ticker'}) # Stack is what will be used as column after Dates. If level = 1, each date, 5 metrics, then next date (change level_1 to 'metrics'). 
del hist1['Adj Close'] # Delete this extra column set

# Remove Na's
hist1 = hist1.dropna()
hist1

,Date,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume
6,2019-08-07,A,66.946526,0.0,67.242004,65.478964,65.863091,0.0,2172900.0
7,2019-08-07,AAL,28.432425,0.0,28.561528,27.628015,27.806773,0.0,6771500.0
8,2019-08-07,AAP,141.655640,0.0,142.904621,139.855946,142.019525,0.0,1524000.0
9,2019-08-07,AAPL,48.844028,0.0,48.971637,47.563054,47.953236,0.0,133457600.0
10,2019-08-07,ABBV,58.141941,0.0,58.538817,57.104661,58.069781,0.0,10532100.0
...,...,...,...,...,...,...,...,...,...
253215,2021-08-06,YUM,134.029999,0.0,134.619995,133.320007,133.970001,0.0,1211442.0
253216,2021-08-06,ZBH,149.000000,0.0,150.625000,147.500000,150.300003,0.0,1605751.0
253217,2021-08-06,ZBRA,562.270020,0.0,565.950012,552.510010,565.059998,0.0,205656.0
253218,2021-08-06,ZION,54.990002,0.0,55.759998,54.029999,54.029999,0.0,1630204.0
253219,2021-08-06,ZTS,201.880005,0.0,203.990005,200.139999,204.199997,0.0,1280070.0

In [6]:
# Demonstrate UNSTACK (do not change hist)
hist2 = hist.stack(level=0).unstack()
del hist2['Adj Close'] # Delete this extra column set

hist2

                Close                                                \
                  AAL        APTV         FE       INTC        MKTX
Date
2019-08-06        NaN         NaN        NaN        NaN         NaN
2019-08-07  28.432425   83.116440  40.025631  44.507931  345.234375
2019-08-08  28.879318   85.047073  40.650311  44.927017  348.637970
2019-08-09  28.581390   83.136353  40.604385  43.793602  358.324646
2019-08-12  27.449257   82.161079  40.889160  43.431671  359.422882
...               ...         ...        ...        ...         ...
2021-08-02  20.059999  167.660004        NaN  53.333424  479.339996
2021-08-03  19.950001  169.139999  38.144875  53.710968  479.940002
2021-08-04  19.450001  165.720001  37.650002  53.552002  492.130005
2021-08-05  20.910000  159.649994  37.970001  53.889999  490.730011
2021-08-06  21.020000  163.149994  37.830002  53.919998  485.700012

                                                                        ...  \
                  XLNX           A         AAP        AAPL        ABBV  ...
Date                                                                    ...
2019-08-06         NaN         NaN         NaN         NaN         NaN  ...
2019-08-07  102.937904   66.946526  141.655640   48.844028   58.141941  ...
2019-08-08  107.764954   68.443642  142.039200   49.921326   59.034904  ...
2019-08-09  102.260948   67.606453  141.940857   49.509953   59.152168  ...
2019-08-12  101.230782   65.626709  139.806778   49.384327   58.205082  ...
...                ...         ...         ...         ...         ...  ...
2021-08-02  148.979996  153.070007         NaN  145.520004  115.449997  ...
2021-08-03  146.460007  153.860001  215.399994  147.360001  116.250000  ...
2021-08-04  144.630005  154.270004  209.669998  146.949997  115.080002  ...
2021-08-05  150.979996  155.039993  206.339996  147.059998  115.120003  ...
2021-08-06  150.190002  155.699997  205.720001  146.139999  114.449997  ...

               Volume                                                        \
                 XRAY        XYL        YUM        ZBH      ZBRA       ZION
Date
2019-08-06        NaN        NaN        NaN        NaN       NaN        NaN
2019-08-07  2897000.0   819300.0  2003000.0  1308800.0  448200.0  3519600.0
2019-08-08  2329000.0   880700.0  2373100.0  1251800.0  723800.0  2259500.0
2019-08-09  2061700.0   782100.0  1656100.0   929600.0  324200.0  1617700.0
2019-08-12  1541200.0   720800.0  1327500.0  1212400.0  292700.0  2143200.0
...               ...        ...        ...        ...       ...        ...
2021-08-02  1247800.0   643600.0  1520500.0  1671200.0  240500.0  1104300.0
2021-08-03  1915100.0  1325900.0  1509200.0  4332300.0  446400.0   938600.0
2021-08-04  2339800.0   954400.0  1163300.0  2385100.0  321700.0  1059500.0
2021-08-05  5217100.0   698200.0  1109200.0  1734400.0  248300.0  1074900.0
2021-08-06  1743025.0   763411.0  1211442.0  1605751.0  205656.0  1630204.0


                  ZTS       CARR       OTIS        OGN
Date
2019-08-06        NaN        NaN        NaN        NaN
2019-08-07  2659000.0        NaN        NaN        NaN
2019-08-08  2295000.0        NaN        NaN        NaN
2019-08-09  1658000.0        NaN        NaN        NaN
2019-08-12  1291500.0        NaN        NaN        NaN
...               ...        ...        ...        ...
2021-08-02  1580700.0  4010800.0  1441000.0  1761600.0
2021-08-03  2915500.0  4993200.0  1683700.0  1386700.0
2021-08-04  1824800.0  4619100.0  1214800.0  1851700.0
2021-08-05  2149200.0  4508100.0  1547000.0  2190600.0
2021-08-06  1280070.0  4683051.0  1924539.0  1298568.0

[506 rows x 3521 columns]

### b. Melt and unmelt the table (using pivot), as shown in the lecture.

In [7]:
# Demonstrate MELT (do not change hist)
# Yes, it should be the original form. You should use a table that's not a multi index
## Use hist1 above (Non multi-index / single-index. SIMILAR approach to people from QuantNet)
melted = hist1.reset_index().melt(id_vars=['Date', 'Ticker'], var_name="Attribute", value_name="Value") # Can just keep adding to id_vars

# Remove Na's
melted = melted.dropna()
melted

              Date Ticker Attribute      Value
0       2019-08-07      A     index        6.0
1       2019-08-07    AAL     index        7.0
2       2019-08-07    AAP     index        8.0
3       2019-08-07   AAPL     index        9.0
4       2019-08-07   ABBV     index       10.0
...            ...    ...       ...        ...
2025707 2021-08-06    YUM    Volume  1211442.0
2025708 2021-08-06    ZBH    Volume  1605751.0
2025709 2021-08-06   ZBRA    Volume   205656.0
2025710 2021-08-06   ZION    Volume  1630204.0
2025711 2021-08-06    ZTS    Volume  1280070.0

[2025712 rows x 4 columns]

In [8]:
# Demonstrate UNMELT using PIVOT (do not change hist)
## 'Should unmelt the one that was melted, similar to the one in the notebook'
pivoted = melted.pivot(index=['Date','Ticker'], columns='Attribute')
pivoted = pivoted['Value'].reset_index()
pivoted.columns.name = None # remove attribute column name

# Remove Na's
pivoted = pivoted.dropna()
pivoted

,Date,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume,index
0,2019-08-07,A,66.946526,0.0,67.242004,65.478964,65.863091,0.0,2172900.0,6.0
1,2019-08-07,AAL,28.432425,0.0,28.561528,27.628015,27.806773,0.0,6771500.0,7.0
2,2019-08-07,AAP,141.655640,0.0,142.904621,139.855946,142.019525,0.0,1524000.0,8.0
3,2019-08-07,AAPL,48.844028,0.0,48.971637,47.563054,47.953236,0.0,133457600.0,9.0
4,2019-08-07,ABBV,58.141941,0.0,58.538817,57.104661,58.069781,0.0,10532100.0,10.0
...,...,...,...,...,...,...,...,...,...,...
253209,2021-08-06,YUM,134.029999,0.0,134.619995,133.320007,133.970001,0.0,1211442.0,253215.0
253210,2021-08-06,ZBH,149.000000,0.0,150.625000,147.500000,150.300003,0.0,1605751.0,253216.0
253211,2021-08-06,ZBRA,562.270020,0.0,565.950012,552.510010,565.059998,0.0,205656.0,253217.0
253212,2021-08-06,ZION,54.990002,0.0,55.759998,54.029999,54.029999,0.0,1630204.0,253218.0
253213,2021-08-06,ZTS,201.880005,0.0,203.990005,200.139999,204.199997,0.0,1280070.0,253219.0

### c. Demonstrate usage of pivot_table.

In [9]:
import numpy as np
# Apply function hist1 (stacked table above; won't work for multi-index, won't work for melted table (per APalley, due to duplicates))
## Either work on a subtable / put all tickers on a column instead of multi-index table. Easier to use stack table which already has tickers on the column.
hist1.pivot_table(index = ['Ticker'], columns=[], values=['Open', 'Close'], aggfunc=np.std) # also np.mean and others

# allData.pivot_table(index = ['Date'], columns=[], values=['Open', 'Close'], aggfunc=np.std) # also np.mean and others

             Close        Open
Ticker
A        24.919082   24.940074
AAL       6.531097    6.514700
AAP      26.704641   26.749297
AAPL     30.219015   30.308106
ABBV     16.014884   16.000609
...            ...         ...
YUM      13.291021   13.259773
ZBH      18.146591   18.203492
ZBRA    116.218916  116.113395
ZION      9.758363    9.749297
ZTS      22.705271   22.636889

[503 rows x 2 columns]

### d. Create a derived table (a.k.a a ‘summary table’), containing the total volume (in millions) per year, of each ticker.

In [10]:
# hist won't work...
# USE hist1 (single index)
# hist1.groupby(['Ticker', 'Date']).agg({'Volume': 'sum'}) # Very very close.
hist1.groupby(['Ticker', hist1['Date'].dt.year]).agg({'Volume': 'sum'}).apply(lambda x:x*1e-6) # Get year for each. DONT FORGET MILLIONS transf

                   Volume
Ticker Date
A      2019    198.882100
       2020    468.519400
       2021    253.263102
AAL    2019    723.172300
       2020  17253.468200
...                   ...
ZION   2020    647.363700
       2021    210.557804
ZTS    2019    206.981300
       2020    512.124700
       2021    286.831270

[1505 rows x 1 columns]

### e. Create a derived table containing the total volume (in millions) of each ticker.

In [11]:
# hist won't work...
# USE hist1 (single index)
hist1.groupby(['Ticker']).agg({'Volume': 'sum'}).apply(lambda x:x*1e-6) # Get year for each. DONT FORGET MILLIONS transf

              Volume
Ticker
A         920.664602
AAL     24276.874544
AAP       620.099299
AAPL    64773.973747
ABBV     4188.908330
...              ...
YUM       980.148342
ZBH       631.347951
ZBRA      203.106556
ZION     1068.163204
ZTS      1005.937270

[503 rows x 1 columns]

### f. Add a column to the original table containing the daily return per ticker (using the above formula (from 8_2_5)).

In [12]:
hist1['Daily Return'] = (hist1.groupby('Ticker')['Close'].apply(pd.Series.pct_change))
# hist1.to_csv('sample.csv') # to check if values are correct. CORRECT.

hist1

,Date,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume,Daily Return
6,2019-08-07,A,66.946526,0.0,67.242004,65.478964,65.863091,0.0,2172900.0,NaN
7,2019-08-07,AAL,28.432425,0.0,28.561528,27.628015,27.806773,0.0,6771500.0,NaN
8,2019-08-07,AAP,141.655640,0.0,142.904621,139.855946,142.019525,0.0,1524000.0,NaN
9,2019-08-07,AAPL,48.844028,0.0,48.971637,47.563054,47.953236,0.0,133457600.0,NaN
10,2019-08-07,ABBV,58.141941,0.0,58.538817,57.104661,58.069781,0.0,10532100.0,NaN
...,...,...,...,...,...,...,...,...,...,...
253215,2021-08-06,YUM,134.029999,0.0,134.619995,133.320007,133.970001,0.0,1211442.0,0.002918
253216,2021-08-06,ZBH,149.000000,0.0,150.625000,147.500000,150.300003,0.0,1605751.0,-0.007791
253217,2021-08-06,ZBRA,562.270020,0.0,565.950012,552.510010,565.059998,0.0,205656.0,-0.012210
253218,2021-08-06,ZION,54.990002,0.0,55.759998,54.029999,54.029999,0.0,1630204.0,0.035203
253219,2021-08-06,ZTS,201.880005,0.0,203.990005,200.139999,204.199997,0.0,1280070.0,-0.009615

### g. Add a column to the original table containing the 1-week (5-day) moving average daily return, per ticker.

In [13]:
hist1['1-week (5-day) MA Daily Return'] = hist1.groupby('Ticker')['Daily Return'].transform(lambda x:x.rolling(5).mean())
# hist1.to_csv('sample.csv') # to check if values are correct. CORRECT.

hist1

,Date,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume,Daily Return,1-week (5-day) MA Daily Return
6,2019-08-07,A,66.946526,0.0,67.242004,65.478964,65.863091,0.0,2172900.0,NaN,NaN
7,2019-08-07,AAL,28.432425,0.0,28.561528,27.628015,27.806773,0.0,6771500.0,NaN,NaN
8,2019-08-07,AAP,141.655640,0.0,142.904621,139.855946,142.019525,0.0,1524000.0,NaN,NaN
9,2019-08-07,AAPL,48.844028,0.0,48.971637,47.563054,47.953236,0.0,133457600.0,NaN,NaN
10,2019-08-07,ABBV,58.141941,0.0,58.538817,57.104661,58.069781,0.0,10532100.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
253215,2021-08-06,YUM,134.029999,0.0,134.619995,133.320007,133.970001,0.0,1211442.0,0.002918,0.003992
253216,2021-08-06,ZBH,149.000000,0.0,150.625000,147.500000,150.300003,0.0,1605751.0,-0.007791,-0.017983
253217,2021-08-06,ZBRA,562.270020,0.0,565.950012,552.510010,565.059998,0.0,205656.0,-0.012210,0.003619
253218,2021-08-06,ZION,54.990002,0.0,55.759998,54.029999,54.029999,0.0,1630204.0,0.035203,0.010820
253219,2021-08-06,ZTS,201.880005,0.0,203.990005,200.139999,204.199997,0.0,1280070.0,-0.009615,-0.000788

### h. Add a column to the original table containing the rolling cumulative sum of volume per ticker.

In [14]:
# hist1['Rolling Cumulative Volume'] = hist1['Volume'].rolling(5).sum() # Set to 5 as unspecified (Seen in Stack)
# hist1['Rolling Cumulative Volume'] = hist1['Volume'].cumsum() # Use cumsum for simplicity as per lecture
hist1['Rolling Cumulative Volume'] = hist1.groupby('Ticker')['Volume'].transform(lambda x:x.cumsum())
# hist1.to_csv('sample.csv') # to check if values are correct. CORRECT.

hist1

,Date,Ticker,Close,Dividends,High,Low,Open,Stock Splits,Volume,Daily Return,1-week (5-day) MA Daily Return,Rolling Cumulative Volume
6,2019-08-07,A,66.946526,0.0,67.242004,65.478964,65.863091,0.0,2172900.0,NaN,NaN,2.172900e+06
7,2019-08-07,AAL,28.432425,0.0,28.561528,27.628015,27.806773,0.0,6771500.0,NaN,NaN,6.771500e+06
8,2019-08-07,AAP,141.655640,0.0,142.904621,139.855946,142.019525,0.0,1524000.0,NaN,NaN,1.524000e+06
9,2019-08-07,AAPL,48.844028,0.0,48.971637,47.563054,47.953236,0.0,133457600.0,NaN,NaN,1.334576e+08
10,2019-08-07,ABBV,58.141941,0.0,58.538817,57.104661,58.069781,0.0,10532100.0,NaN,NaN,1.053210e+07
...,...,...,...,...,...,...,...,...,...,...,...,...
253215,2021-08-06,YUM,134.029999,0.0,134.619995,133.320007,133.970001,0.0,1211442.0,0.002918,0.003992,9.801483e+08
253216,2021-08-06,ZBH,149.000000,0.0,150.625000,147.500000,150.300003,0.0,1605751.0,-0.007791,-0.017983,6.313480e+08
253217,2021-08-06,ZBRA,562.270020,0.0,565.950012,552.510010,565.059998,0.0,205656.0,-0.012210,0.003619,2.031066e+08
253218,2021-08-06,ZION,54.990002,0.0,55.759998,54.029999,54.029999,0.0,1630204.0,0.035203,0.010820,1.068163e+09
253219,2021-08-06,ZTS,201.880005,0.0,203.990005,200.139999,204.199997,0.0,1280070.0,-0.009615,-0.000788,1.005937e+09