# 8.2.4 Tabular Data: Display Sample Data Frame (Pandas-Datareader)

######

##### Instructions: Use the pandas-datareader library to load the same data as exercise 1 above. Save the DataFrame into a .csv file. Save this CSV file for the exercises below.

In [1]:
import pandas_datareader as pdr

# Generate Data (Same as exercise 1 and 3)
spgi = pdr.DataReader('SPGI', start="2016-06-30", end="2018-06-30", data_source='yahoo')

# Generate CSV File
# spgi.to_csv('spgi.csv', index=False, sep=',')
spgi.to_csv('spgi.csv', sep=',')

# Display
spgi

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2016-06-29,106.029999,101.660004,102.800003,106.000000,1439600.0,100.803917
2016-06-30,107.320000,104.919998,106.029999,107.260002,1709600.0,102.002174
2016-07-01,109.099998,107.110001,107.110001,107.860001,891700.0,102.572746
2016-07-05,107.849998,105.339996,107.110001,106.169998,958900.0,100.965576
2016-07-06,106.889999,104.750000,105.150002,106.779999,1155900.0,101.545700
...,...,...,...,...,...,...
2018-06-25,205.869995,201.860001,205.869995,203.949997,1258400.0,198.356766
2018-06-26,206.110001,202.919998,203.979996,203.160004,836300.0,197.588455
2018-06-27,205.160004,201.710007,204.490005,201.830002,887700.0,196.294937
2018-06-28,204.380005,201.339996,201.399994,203.690002,582500.0,198.103928
2018-06-29,207.580002,203.669998,205.149994,203.889999,1010300.0,198.298401